<!-- <header>
    <div class="container">
        <h1>Admin Panel - Gestión de Datos</h1>
        <nav>
            <ul>
                <li><a href="/admin/users">Usuarios</a></li>
                <li><a href="/admin/categorias">Categorías</a></li>
                <li><a href="/admin/libros">Libros</a></li>
                <li><a href="/admin/ordenes">Órdenes</a></li>
            </ul>
        </nav>
    </div>
</header> -->

<header>
    <div class="container">
        <h1>Administrar Usuarios</h1>
        <nav>
            <ul>
                <li><a href="/" class=" <%= currentPage === 'home' ? 'active':'' %> ">Inicio</a></li>
                <li><a href="/admin/users" class=" <%= currentPage === 'users' ? 'active':'' %> ">Usuarios</a></li>
                <li><a href="/admin/categories" class=" <%= currentPage === 'categories' ? 'active':'' %> ">Categorías</a></li>
                <li><a href="/admin/books" class=" <%= currentPage === 'books' ? 'active':'' %> ">Libros</a></li>
                <li><a href="admin/orders" class=" <%= currentPage === 'orders' ? 'active':'' %> ">Órdenes</a></li>
            </ul>
        </nav>
    </div>
</header>